
<div class="container-fluid">
  <!--顶部三个快速链接-->
  <div class="hr_banner">
    <div class="hr_banner_box">

      <div class="hr_banner_content">
        <div class="hr_bc_img"><img src="../../../assets/image/1font.png"></div>
        <div class="hr_content_font">
          <a routerLink="/recruit/cvMng/1"><p><span class="hr_font1">79</span>待处理简历</p></a>
        </div>
      </div>

      <div class="hr_banner_content">
        <div class="hr_bc_img"><img src="../../../assets/image/2font.png"></div>
        <div class="hr_content_font">
          <a routerLink="/recruit/jobMng/1"><p><span class="hr_font1">5</span>在招职位</p></a>
        </div>
      </div>

      <div class="hr_banner_content">
        <div class="hr_bc_img"><img src="../../../assets/image/3font.png"></div>
        <div class="hr_content_font">
          <a routerLink="/recruit/cvMng/100"><p><span class="hr_font1">3</span>面试安排</p></a>
        </div>
      </div>
    </div>
  </div>

  <!-- 面试安排 -->
  <div class="hr_arrange">
    <div class="hr_title">
      <img src="../../../assets/image/gongzuoanpai.png">
      <span>面试安排</span>
      <span class="hr_line"></span>
    </div>

    <div class="hr_detail">
      <div class="hr-no-data">
        <img src="../../../assets/image/nocontent.png">
        暂时没有符合条件的面试安排
      </div>
    </div>
  </div>
</div>


