
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.hr_banner{
  background: url("../../../assets/image/hrbanner.png");
  height: 251px;

  .hr_banner_box{
    width: 950px;
    margin: 0 auto;
    height: 251px;

    .hr_banner_content{
      width: 250px;
      height: 168px;
      background-color: #fff;
      border-radius: 14px;
      float: left;
      margin: 40px 66px 0 0;

      .hr_bc_img{
        padding: 20px 0 0 20px;
      }

      .hr_content_font{
        text-align: center;

        p{
          margin-top: 10px;
          font-size: 15px;

          .hr_font1{
            color: #1c4f70;
            font-size: 28px;
          }
        }
      }
    }
  }
}

.hr_arrange{
  width: 100%;
  height: 420px;
  margin-top: 20px;
  background-color: #fff;
  padding-top: 30px;
  padding-left: 10%;
  .hr_title{
    span{
      color: #1c4f70;
      font-size: 20px;
    }

    .hr_line{
      width: 85%;
      margin-left: 20px;
      display: inline-block;
      border-bottom: 1px solid #cccccc;
    }
  }


  .hr_detail{
    width: 469px;
    color: #999999;
    height: 230px;
    margin-top: 50px;
    margin-left: 40%;
  }

  .interview-detail{
    width: 85%;
    margin-top: 20px;
    border-collapse: collapse;
    table{
      margin: 0 auto;

      .interview-list-head{
        background: #fff;
        color: #999;
        height: 60px;
        text-align: center;

        td{
          min-width: 200px;
          font-size: 20px;
        }
      }

      .interview-list-content{
        text-align: center;
        height: 40px;
        font-size: 17px;
      }
    }
  }
}
