.container-fluid{
  min-height:1000px;
  width: 1200px;
  padding-top: 20px;
}

.navbar-nav{
  width: 180px;
  float: left;
  .nav-item{
    text-align: center;
    padding: 28px 0 22px 0;
    background: #fff;

    .nav-link{
      color: #1c4f70;
      font-size: 15px;
    }

    .active{
      font-weight: bold;
    }
  }
  .userMng{
    background: #7ba4c0;
    span{
      color: #fff;
      font-size: 20px;
    }
  }
}

.userMng-detail{
  width: 940px;
  min-height:800px;
  padding: 20px;
  float: right;
  background: #fff;
}
