<div class="container-fluid">
  <!-- 左侧导航栏 -->
  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item userMng">
        <img src="../../../assets/image/usermanage.png">
        <span>账号管理</span>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [class.active]="isActive[0]" class="nav-link" routerLink="hrCenter" (click)="changeLinkColor(0)">公司信息</a>
      </li>
      <li class="nav-item">
        <a [class.active]="isActive[1]" class="nav-link" routerLink="cvMng" (click)="changeLinkColor(1)">修改密码</a>
      </li>

    </ul>
  </div>

  <div class="userMng_detail">
    <router-outlet></router-outlet>
  </div>
</div>
