<div class="container-fluid">
  <!-- 左侧导航栏 -->
  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item jobPublish">
        <img src="../../../assets/image/intern.svg">
        <span>发布职位</span>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="hrCenter">职位介绍</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cvMng">职位要求</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="jobMng">职位类型</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="jobPublish">投递设置</a>
      </li>

    </ul>
  </div>

  <div class="jobPublish-detail">
    <form>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">职位类别</label>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="请填写职位类别" required>
        </div>

        <label class="col-md-2 col-form-label">职位名称</label>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="请填写职位名称" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">工作城市</label>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="请填写工作城市" required>
        </div>

        <label class="col-md-2 col-form-label">招聘人数</label>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="请填写实习人数" required >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label">职位诱惑</label>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="30字左右描述职位诱惑" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label">职位描述</label>
        <div class="col-md-10">
          <textarea class="form-control" placeholder="请填写职位描述" required rows="10"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label">工作地址</label>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="例如：北京 - 海淀区 - 知春路 - 希格玛大厦" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label">日薪范围</label>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="最低日薪" required>
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="最高日薪" required >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label">工作性质</label>
        <div class="col-md-4">
          <select class="form-control">
            <option>实习</option>
            <option>兼职</option>
            <option>全职</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label">学历要求</label>
        <div class="col-md-4">
          <select class="form-control">
            <option>不限</option>
            <option>本科</option>
            <option>专科</option>
            <option>硕士</option>
            <option>博士</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label">工作经验</label>
        <div class="col-md-10">
          <select class="form-control">
            <option>不限</option>
            <option>应届毕业生</option>
            <option>经验1~3年</option>
            <option>经验3~5年</option>
            <option>5~10年</option>
            <option>10年以上</option>
          </select>
        </div>
      </div>

      <!--<div class="form-group row">-->
        <!--<label class="col-md-2 col-form-label">企业邮箱</label>-->
        <!--<div class="col-md-10">-->
          <!--<input type="text" class="form-control" placeholder="请填写企业邮箱" required>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group row">-->
        <!--<label class="col-md-2 col-form-label">职位标签</label>-->
        <!--<div class="col-md-10">-->
          <!--<input type="text" class="form-control" placeholder="输入多个标签时用空格分割" required>-->
        <!--</div>-->
      <!--</div>-->

      <button type="button" class="btn btn-primary">发布职位</button>

    </form>

  </div>

</div>
