.container-fluid{
  min-height:1000px;
  width: 1200px;
  padding-top: 20px;
}

.navbar-nav{
  float: left;
  width: 180px;
  .nav-item{
    text-align: center;
    padding: 28px 0 22px 0;
    background: #fff;

    .nav-link{
      color: #1c4f70;
      font-size: 15px;
    }
  }
  .jobPublish{
    background: #7ba4c0;
    span{
      color: #fff;
      font-size: 20px;
    }
  }
}

.jobPublish-detail{
  width: 900px;
  min-height:1200px;
  float: right;
  padding: 30px;
  background: #fff;
  .form-group{
    padding-top: 30px;
    label{
      font-size:17px;
      margin-right: -50px;
    }
  }

  button{
    float:right;
    margin-top: 30px;
    margin-right: 50px;
  }

  span{
    color: red;
    margin-top: 40px;
    float: right;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
  }
}
