<div class="compro cactive">
  <!--验证通过-->

  <img src="https://sxsimg.xiaoyuanzhao.com/static/hr/img/prov-pass.png?v=1ac40c3c8ac985ed430ff120e294407a" class="company-icon">
  <!--验证失败-->

  <div class="status-content">
    <div class="info-proving proving">
      <div class="proving-index" style="background-image: url(https://sxsimg.xiaoyuanzhao.com/static/hr/img/prov-icon-pass.png?v=8db575211ea61ab9b285bc1aeb37995c)"></div>

      <div class="proving-name">信息验证</div>

      <div class="proving-status">通过</div>

      <div class="proving-line"></div>

    </div>
    <div class="license-proving proving">

      <div class="proving-index" style="background-image: url(https://sxsimg.xiaoyuanzhao.com/static/hr/img/prov-icon-pass.png?v=8db575211ea61ab9b285bc1aeb37995c)"></div>

      <div class="proving-name">证件验证</div>
      <div class="proving-status ">通过</div>
      <div class="proving-line"></div>

    </div>

    <div class="proving-result proving">

      <div class="proving-index" style="background-image: url(https://sxsimg.xiaoyuanzhao.com/static/hr/img/prov-icon-pass.png?v=8db575211ea61ab9b285bc1aeb37995c)"></div>
      <div class="status-result pro-suc">验证成功</div>

    </div>
  </div>
</div>
