
<div class="manager-container">

  <div class="header">
    <img src="../../assets/image/logo.png" class="logo">
    <span>Admin</span>
    <a (click)="signout()">退出登录</a>
  </div>

  <div class="left">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a>
          <i class="fa fa-fw fa-magic"></i>
          <span routerLink="manageJob/1">职位审核</span>
        </a>
      </li>

      <li class="nav-item">
        <a>
          <i class="fa fa-fw fa-home"></i>
          <span routerLink="manageCompany/1">公司审核</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="right">
    <router-outlet></router-outlet>
  </div>

</div>


