<div class="container-fluid">
  <!-- 左侧导航栏 -->
  <div>
    <ul class="navbar-nav">
      <li class="nav-item cvMng">
        <img src="../../../assets/image/manager.png">
        <span>应聘管理</span>
      </li>
      <li routerLinkActive="active" class="nav-item" >
        <a [class.active]="isActive[0]" class="nav-link" routerLink="hrCenter" (click)="getCVData(0)" >待处理简历</a>
      </li>
      <li class="nav-item">
        <a [class.active]="isActive[1]" class="nav-link" routerLink="cvMng" (click)="getCVData(1)">已通知面试</a>
      </li>
      <li class="nav-item">
        <a [class.active]="isActive[2]" class="nav-link" routerLink="jobMng" (click)="getCVData(2)">不合适</a>
      </li>
      <li class="nav-item">
        <a [class.active]="isActive[3]" class="nav-link" routerLink="jobPublish" (click)="getCVData(3)">已录用</a>
      </li>
    </ul>
  </div>

  <div class="cvMng_detail">
    <router-outlet></router-outlet>
  </div>


</div>
