<div *ngFor="let company of companyList">
  <div class="center-title">
    <p>{{company.companyName}}</p>
  </div>
  <!--具体内容-->
  <div class="center-main">
    <!-- data-target="#companyModal" data-toggle="modal"  -->
    <div class="cmain-l" (click)="open(content)">
      <div class="editor">

        <div class="cml-c">
          <span>地点：{{company.companyAddress}}</span>
          <span>领域：{{company.companyField}}</span>
          <span>规模：{{company.companyScale}}人以上</span>
          <span>网址：{{company.companyURL}}</span>
        </div>
      </div>

      <div class="comintro">
        <p>公司邮箱：{{company.companyEmail}}</p>
        <p>公司电话：{{company.companyPhone}}</p>
        <p>公司简介</p>
        <div>
          {{company.companyShortIntroduction}}
        </div>

        <br><br>
        <p>公司介绍</p>
        <div>
          {{company.companyIntroduction}}
        </div>
      </div>

    </div>

    <div class="comlogo">
      <div class="logoimg">
        <input type="file" accept="image/*" ng2FileSelect [uploader]="companyService.uploader" (change)="selectFile()" >
        <img [src]="company.companyImgPath" class="comlogos">
      </div>
      <p>图片不能超过300k</p>
    </div>

  </div>

  <ng-template #content let-c="close" let-d="dismiss" style="width: 700px">
    <div class="modal-header">
      <h4 class="modal-title">修改企业信息</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="was-validated" [ngClass]="{'was-validated': isShowError }" [formGroup]="companyGroup" (submit)="changeCompany()" role="form">
        <div class="form-group row">
          <label class="col-md-2 col-form-label">公司简称   :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="companyShortName" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">公司网址   :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="companyURL" required>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-2 col-form-label">所在城市   :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="companyAddress" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">行业领域   :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="companyField" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">公司规模   :</label>
          <div class="col-md-10">
            <input type="number" class="form-control" formControlName="companyScale" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">简短介绍   :</label>
          <div class="col-md-10">
            <textarea class="form-control" formControlName="companyShortIntroduction" rows="2"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">公司介绍   :</label>
          <div class="col-md-10">
            <textarea class="form-control" formControlName="companyIntroduction" rows="4"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" >修改信息</button>
        <span *ngIf="isShowError">{{errorMessage}}</span>
        <span *ngIf="isShowRight" class="right">{{rightMessage}}</span>
      </form>
    </div>
    <!--<div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>-->
  </ng-template>

</div>


