.center-title{
  border-bottom: 1px solid #bbb;
  height: 74px;
  line-height: 74px;
  color: #333;
  font-size: 18px;
}

.center-main{
  width: 900px;
  margin: 30px auto;
  min-height: 300px;
  color: #333;
  .cmain-l{
    width: 740px;
    float: left;

    .cml-c > span{
      margin: 30px 30px 30px 0;
      display: inline-block;
    }
  }

  .comlogo{
    float: right;
    text-align: center;
    .logoimg{
      text-align: center;
      .comlogos{
        width: 156px;
        height: 156px;
      }

      input{
        opacity: 0;
        position: absolute;
        width: 156px;
        height: 156px;
      }
    }
  }

  .comintro{
    margin-top: 20px;
    min-height: 300px;
    float: left;

  }
}

.modal-body{
  label{
    font-size: 18px;
    color: #777777;
  }

  button{
    margin-top: 20px;
    float: right;
  }

  span{
    color: red;
    margin-top: 30px;
    float: right;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
  }
}
